[net]
mean = 0.4637419,0.47166784,0.48316576
std = 0.45211827,0.16890674,0.18645908

# 0
[convolutional]
batch_normalize=1
filters=4
size=3
stride=2
pad=1
activation=leaky

########### - 2

# 1
[convolutional]
batch_normalize=1
filters=8
size=3
stride=2
pad=1
activation=leaky

########### - 4

# 2
[convolutional]
batch_normalize=1
filters=16
size=3
stride=2
pad=1
activation=leaky

########### - 8

# 3
[convolutional]
batch_normalize=1
filters=16
size=3
stride=1
pad=1
activation=leaky

# 4
[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

########### - 16

# 5
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

# 6
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

########### - 32

# 7
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

########### - class

# 8
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

# 9
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

# 10
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

# 11
[convolutional]
batch_normalize=1
filters=128
size=3
stride=2
pad=1
activation=leaky

########### - 64

# 12
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

# 13
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

# 14
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

# 15
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

########### - c1

# 16
[route]
layers = 10

# 17
[convolutional]
size=1
stride=1
pad=1
filters=10
activation=linear

########### - c2

# 18
[route]
layers = 15

# 19
[convolutional]
size=1
stride=1
pad=1
filters=10
activation=linear
